@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Black Ops One", cursive;

body {
  padding: 0;
  margin: 0;
}
// header
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 3;

  .shdow-Overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    filter: blur(3px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.486);
  }

  .shdow-Overlay.active {
    filter: blur(0);
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(163, 161, 161, 0.486);
  }

  .header-Wrap {
    z-index: 5;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .buttons-Wrap {
      z-index: 15;
      position: relative;
    }
  }

  .card-Box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: aliceblue;
    filter: drop-shadow(0 0 10px black);
    width: 360px;
    border-radius: 1rem;
    height: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .btn-Wrap {
      height: 15%;
      width: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: end;
      justify-content: center;
    }

    .text-Card-Wrap {
      height: 80%;
      width: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .card-Title {
        font-family: $fontTwo;
        font-size: 1.5rem;
      }

      .card-Text-1 {
        font-family: $fontOne;
        font-weight: 500;
      }
    }
  }

  .card-Box.active {
    display: none;
  }
}
